@model IEnumerable<WebApplication1.Tables.KundeData>

@{
    ViewData["Title"] = "KommendeS";

    //for 책 identifisere hvilken ID submit knappen skal refferere til
    
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/serviceform.css" asp-append-version="true" />
<script src="~/js/kommendes.js" asp-append-version="true"></script>
 


    <table class="table">
            @foreach (var kunder in Model)
                {
                <tr>
                    <form asp-controller="BringData" asp-action="OpprettService" method="get">

                    <td class="table">kundeID: @kunder.KundeID</td>
                    <td class="table">Fornavn: @kunder.Fornavn</td>
                    <td class="table">Etternavn: @kunder.Etternavn</td>
                    <td class="table">Bedrift: @kunder.Bedrift  </td>
                    <td class="table">Telefonnummer: @kunder.TelefonNR  </td>
                    <td class="table">Adresse: @kunder.Adresse  </td>

                    <!--Har en ID som er lik kunden sin id som sendes som ViewData-->
                    <td>
                        <button  id="btn_@(kunder.KundeID)" class="OpprettService" type="button">Start service</button>
                    </td>

                    </form>
                    

                    
                    <!--For 책 slette kunder ved 책 trykke p책 "X" KommendeSID
    <form asp-controller="DeleteData" asp-action="Delete" method="post">
        <td><input asp-for="kunder.DeleteID" type="submit" class="SlettService"/></td>
    </form>
    -->
                </tr>

            }

    </table>

